body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.stopwatch {
    text-align: center;
    background: rgb(206, 252, 191);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(26, 25, 25, 0.4);
}
.stopwatch:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#display {
    font-size: 2em;
    margin-bottom: 20px;
}

.buttons {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button#startPauseBtn {
    background-color: #4CAF50;
    color: white;
}

button#resetBtn {
    background-color: #f44336;
    color: white;
}

button#lapBtn {
    background-color: #008CBA;
    color: white;
}

ul#laps {
    list-style: none;
    padding: 0;
}

ul#laps li {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}
